**.csv 
**.txt 
**.pdf 
**.zip
**.png
**.ttf
**.jpg
**.html
**.pth  
Taxi_HKUST/taxi/
T-drive Taxi Trajectories/release/
pytorch_study/data
pytorch_study/resources
pytorch_study/runs
GAN_study/GAN-MNIST/mnist_data/  
