**.csv 
**.txt 
**.pdf 
**.zip
**.png
**.ttf
**.jpg
**.gif  
**.pth  
**.pkl
**.ph  
**.mp3
**.mp4
**.pyc
**.model
**.doc
**.docx
Taxi_HKUST/taxi/
T-drive Taxi Trajectories/release/
pytorch_study/data
pytorch_study/resources
pytorch_study/runs
GAN_study/GAN-MNIST/mnist_data/ 

